.container{
  width: 600px;
  margin: auto;
  border: thin solid black;
  padding: 25px;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.thumbnail-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumbnail {
  width: 200px;
  border: thin solid black;
  text-align: center;
  font-size: 24px;
}

.thumbnail img {
  width: 200px;
}

.screenshot {
  max-width: 50%;
  border: 5px solid black;
}
